<div class="pool_partial">
	</br>
	<h3>
		<%= link_to "Pool #{pool.id}", game_pool_path(@game, pool) %>
	</h3>
	</br>
	<h6>
		Type: <%= pool_type(pool) %>
	</h6>
	</br>
	<h6>
		Buy in: <%= pool.buy_in %>
	</h6>
</div>