<div class="micropost_feed">
	<% @pool.microposts.each do |micropost| %>
		<div class="micropost_item">
		    <div class="micropost_item_profile_pic">
		        <%= image_tag micropost.user.avatar_url.to_s, :id => 'bantr_profile_pic' %>
		    </div>

		    <div class="micropost_item_name">
		        <%= micropost.user.first_name %> <%= micropost.user.last_name %>
		    </div>

		    <div class="micropost_item_content">
		        <%= micropost.content %>
		    </div>
		</div>
	<% end %>
</div>