<% if @pool_items.any? %>
	<table class="table">
		<tr>
			<th>Player ID:</th>
			<th>Pool #:</th>
			<th>Bet Amount:</th>
		</tr>
		<%= render partial: 'shared/pool_item', collection: @pool_items %>
	</table>
	<%= will_paginate @pool_items %>
<% end %>