<div class="game_partial">
	<h3><%= link_to "Game #{game.id}", game %> </h3>
</br>
	<h5 class="center">
		<%= game.team_one %>
	</h5>

	<h5 class="center">vs:</h5> 

	<h5 class="center">
		<%= game.team_two %>
	</h5>

	<h4 class="center">
		Pools: <%= game.pools.count %>
	</h4>
</div>