
.pool_partial {
	width:300px;
	height:100px;
	border:none;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#BFB9CB;
	margin-right:auto;
	margin-left:5px;
	margin-bottom:10px;
	margin-top:10px;
}

.pool_partial_first {
	width:199px;
	height:100px;
	float:left;
	border-right:1px solid black;
}

.pool_partial_second {
	width:100px;
	height:100px;
	float:left;
}

p#pool_button {
	margin-top:-20px;
	height:30px;
	margin-bottom:0px;
}

h3#spot_count {
	margin-top:10px;
}

p.pool_partial_first_text {
	margin-left:15px;
}

p#pool_partial_first_buy_in {
	margin-top:15px;
}

