div#prize_page_title {
	height:100%;
	background-color:grey;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div#available_prizes {
	padding-top:10px;
	overflow:auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:grey;
}

div#redeemed_prizes {
	padding-top:10px;
	overflow:auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:grey;
}

#prize_box {
	width:300px;
	height:100px;
	border:none;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#BFB9CB;
	float:left;
	margin-right:0px;
	margin-left:79px;
	margin-bottom:15px;
}

.prize_box_top {
	height:50px;
	width:200px;
	border-bottom:1px solid black;
	float:left;
}

.prize_box_bottom {
	position:relative;
	bottom:50px;
	height:50px;
	width:200px;
	float:left;

}

.prize_box_right {
	height:100px;
	width:99px;
	border-left:1px solid black;
	float:left;
}

#prize_description {
	margin-top:7px;
}

p#prize_redeem_button {
	position:relative;
	bottom:13.5px;
}

h3#prize_box_photo {
	margin-top:37px;
}