/* Game Show Page */

$background: #1f3b56;

.back_to_games_button {
	float:left;
	margin-right:20px;
}

.create_new_pool_button {
	float:left;
}

div#game_show_title {
	width:500px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

#games_buttons {
	margin-left:310px;
	margin-bottom:15px;
}

div#pools_index_box {
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	background-color:white;
}

div#game_page_title {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

div#game_box {
	width:400px;
	border:1px solid white;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	padding-top:10px;
	background-color:white;
}

/* New Game Page */

div#new_game_page {
	background-color:white;
}