/* User Show Page */

/* Color Structure */
$background: #1f3b56;

/*-----------------*/

/* Profile Information Feature */
div.profile_pic {
	width:150px;
	float:left;
	margin-top:18px;
	margin-left:10px;
}

#profile {
	-moz-border-radius:10px;
	border-radius:10px;
}

div.profile_info {
	width:250px;
	float:left;
	text-align:left;
	margin-top:15px;
	margin-left:5px;
	padding-top:80px;
}

div.user_info {
	border:2px solid grey;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:150px;
	background-color:grey;
}

/* Credit info feature */

span.credit_count {
	font-weight:bold;
}

h3.credit_info_label {
	margin-bottom:7px;
}

h4#user_name {
	font-size:20px;
}

p.credit_count {
	font-size:18px;
	text-align:left;
}

p.score {
	font-size:18px;
	text-align:left;
}

div.score_count {
	height:50px;
	width:120px;
	float:left;
	margin-top:40px;
	margin-left:40px;
}

.user_credits {
	border:2px solid black;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:grey;
	height:150px;
}

.player_credits {
	height:100px;
	width:200px;
	float:left;
	margin-left:152px;
	margin-top:25px;
	margin-bottom:0px;
	border-right:2px solid black;
}

/* Friend Feed */

div.friends_feed {
	-moz-border-radius: 10px;
	border-radius:10px;
	border:2px solid $background;
	background-color:grey;
}


h3.friend_feed_label_counter {
	margin-bottom:10px;
}

h3.friend_request_label_counter {
	margin-top:10px;
}

/* Friend Feed Items */

div.item {
	-moz-border-radius: 10px;
	border-radius:10px;
	border:2px solid $background;
	margin-bottom:5px;
	margin-left:20px;
	width:400px;
	height:65px;
}

div.friend_item_profile_pic {
	float:left;
	width:90px;
	height:65px;
	border-right:2px solid $background;
}

img.thumb {
	width:80px;
	-moz-border-radius: 10px;
	border-radius:10px;
	border:2px solid grey;
}

div.friend_item_name {
	float:left;
	width:120px;
	height:65px;
	border-right:2px solid $background;
}

div.friend_item_button {
	height:65px;
	margin-top:5px;
}

input.friend_delete_button {
	width:75px;
	margin-left:5px;
	margin-top:10px;
}

input.friend_accept_button {
	width:75px;
	margin-left:5px;
}

input.friend_decline_button {
	width:75px;
	margin-left:5px;
	margin-top:-35px;
}

input.friend_cancel_button {
	margin-left:5px;
	margin-top:10px;
}

/* Redeem Feature */

#left_side {
	margin-left:0px;
}

div.credit_redeem {
	border:2px solid $background;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:grey;
	height:50px;
	margin-top:0px;
}

.credit_redeem_form {
	width:330px;
}

.redeem_button {

}

/* Pools Feed Feature */

div.participating_pools_feed {
	-moz-border-radius: 10px;
	border-radius:10px;
	border:2px solid $background;
	background-color:grey;
}

#right_side {
	margin-left:40px;
}

h3.participating_pool_label {
	margin-top:2%;
	margin-bottom:2%;
}

/* Pool item */
#participating_pools_box {
	height:80px;
	width:420px;
	border:1px solid black;
	-moz-border-radius:10px;
	border-radius:10px;
	background-color:#BFB9CB;
	margin-left:17px;
	margin-bottom:15px;
}

.pool_sport {
	height:80px;
	width:90px;
	float:left;
	border-right:1px solid black;
}

p#pool_sport {
	padding-top:10px;
}

.pool_game_info {
	height:80px;
	width:165px;
	float:left;
	border-right:1px solid black;
	padding-top:0px;
}

p#pool_game_info {
	padding-top:13px;
}

.pool_info {
	height:80px;
	width:163px;
	float:left;
}

.pool_info_table {
	margin-left:15px;
}

.pool_info_table_cell_1 {
	text-align:left;
}

.pool_info_table_cell_2 {
	text-align:right;
}
