<div id="prize_box" class="center">
	<div class="prize_box_top">
		<h3 id="prize_description"><%= prize.description %></h3>
		<h4 class="center">Cost: <%= prize.value %> credits</h4>
	</div>

	<div class="prize_box_right">
		<h3 id="prize_box_photo">[Photo]</h3>
	</div>

	<div class="prize_box_bottom">
		<p id="prize_redeem_button" class="center"><%= link_to "Redeem", redeem_prize_prize_path(prize), :method => 'put', class: "btn btn-large btn-inverse" %></p>
	</div>
</div>