<h1>Prize Index Page</h1>

<div class="row">
	<div class="available_prizes">
		<h3>Prizes Available</h3>
		</br>
		<%= render @available_prizes %>
	</div>
</div>

</br>

<div class="row">
	<div class="redeemed_prizes">
		<h3>Prizes Redeemed</h3>
		</br>
		<%= render @redeemed_prizes %>
	</div>
</div>